[submodule "submodules/Megatron-LM"]
	path = submodules/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "submodules/transformers"]
	path = submodules/transformers
	url = https://github.com/huggingface/transformers.git
